* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  position: relative;
}

a,
button,
svg * {
  transition-duration: 0.2s;
}

a {
  text-decoration: none;
  color: inherit;
}
